@media (max-width: 768px) {
  .logo {
    text-align: center;
  }
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
    justify-content: center;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .hero .content h1 {
    font-size: 40px;
  }
  .hero .content p {
    font-size: 20px;
  }
  .flex-item {
    flex-direction: column;
  }
  #map {
    width: 80%;
  }
}
